@import '../../commonStyle/constants.scss';

.product {
    &__btnAddToCart {
        border: none;
        text-decoration: none;
        cursor: pointer;
        &-disabled {
            pointer-events: none;
        }
    }
}
