.products-block {
    display: flex;
    flex-wrap: wrap;
    max-width: 1200px;
    justify-content: center;
    padding: 30px 60px;
    gap: 20px;
    margin: 0 auto;
}

.product {
    width: 300px;

    &__image {
        display: block;
        width: 300px;
    }
    &__info {
        background-color: darkcyan;
        color: white;
        padding: 10px;
        position: relative;
        div {
            display: flex;
            justify-content: end;
            align-items: center;
        }
    }
    &__name {
        position: absolute;
        max-width: 250px;
        top: 10px;
        left: 10px;
    }
    &__description-color {
        text-align: end;
        font-style: italic;
    }
    &__likeImage {
        width: 30px;
        padding: 10px;
    }
    &__btnAddToCart {
        border: none;
        text-decoration: none;
        cursor: pointer;
        background: none;
        &-disabled {
            pointer-events: none;
            color: lightgray;
        }
    }
}
