@import '../../commonStyle/style.scss';

.container {
    max-width: 1200px;
    margin: 0 auto;
}
/* prettier-ignore */
.navigationPanel {
    display: flex;
    justify-content: space-around;
    &__nav, &__mainLogo {
        display: flex;
        justify-content: space-between;
        align-items: center;
    }
    &__nav {
        &-item {
            padding: 20px;
        }
    }
    &__mainLogo {
        svg {
            width: 70px;
            height: 70px;
        }
        &-name {
            padding-left: 20px;
            color: $base-color-dark;
            font-size: 50px;
        }
    }
}

.advertisementImage {
    height: 300px;
    max-width: 100%;
    background-position: center;
    background-size: contain;
    background-repeat: no-repeat;
    background-color: rgba(0, 0, 0, 0.904);
    background-image: url('https://static.massimodutti.net/3/cms/assets/uploads/desktopWomanRebajs_22.jpg?impolicy=massimodutti-itxmediumhigh&imwidth=3000');
}
